<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C.A.B Coffe Shop</title>
    <link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="shortcut icon"
      href="/public/img/coffee.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <nav class="heading_nav">
        <ul class="nav_links">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./coffee-products.html">Coffee</a></li>
          <li><a href="./teaProducts.html">Tea</a></li>
          <li><a href="./merch.html"></a>Merch</li>
          <li><a href=""></a>Contact</li>
        </ul>
      </nav>

      <h1 class="company_name">C.A.B Coffee Company</h1>
    </header>
    <div class="head_img">
      <div class="overlay"></div>
      <img
        class="head_img"
        src="/public/img/hotcoffee.jpg"
        alt="coffee_head"
        style="width: 100%; height: auto"
      />
    </div>

    <section class="Company_Info">
      <div class="Company_Info">
        <h2 class="Company_Info">Mission</h2>
        <img
          src="/public/img/vector_coffeeCrown.jpg"
          alt="coffee_crown"
          width="100px"
          height="100px"
          display="center"
        />
        <p class="Company_Info">
          Lorem ipsum dolor sit amet. Hic molestiae aliquam sit consequatur
          magni qui consequuntur iure in similique esse.
        </p>
      </div>

      <div class="Company_Info">
        <h2 class="Company_Info">Coffee</h2>
        <img
          src="/public/img/vector_coffee.jpg"
          alt="coffee_crown"
          width="100px"
          height="100px"
          margin-right="5px"
        />
        <p class="Company_Info">
          Lorem ipsum dolor sit amet. Hic molestiae aliquam sit consequatur
          magni qui consequuntur iure in similique esse.
        </p>
      </div>

      <div class="Company_Info">
        <h2 class="Company_Info">Tea</h2>
        <img
          src="/public/img/vector_tea.jpg"
          alt="coffee_crown"
          width="100px"
          height="100px"
          display="center"
        />
        <p class="Company_Info">
          Lorem ipsum dolor sit amet. Hic molestiae aliquam sit consequatur
          magni qui consequuntur iure in similique esse.
        </p>
      </div>
    </section>

    <section class="divide"></section>

    <section class="Shopper_DocumentCollection">
      <a href="/views/shopper-form.html"><h2>Subscribe</h2></a>
      <p>
        Lorem ipsum dolor sit amet. Hic molestiae aliquam sit consequatur magni
        qui consequuntur iure in similique esse. Sit iusto maxime qui officiis
        nostrum aut quod consectetur et deserunt error.
      </p>
      <br />
      <br />
      <br />
    </section>

    <footer class="footer">
      <ul>
        <li>C.A.B. Company</li>
        <li>@2022 CAB Inc.</li>
        <li>All Rights Reserved</li>
      </ul>
    </footer>
  </body>
</html>
