<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>C.A.B | Merch</title>
  </head>

  <body>
    <header>
      <nav class="heading_nav">
        <ul class="nav_links">
          <li><a class="nav_link" href="./index.html">Home</a></li>
          <li><a class="nav_link" href="./coffee-products.html">Coffee</a></li>
          <li><a class="nav_link" href="./teaProducts.html">Tea</a></li>
          <li><a class="nav_link" href="./merch.html">Merch</a></li>
          <li><a class="nav_link" href="./locations.html">Contact</a></li>
        </ul>
      </nav>

      <h1 class="company_name">C.A.B Coffee Company</h1>
    </header>
  </body>
</html>
