@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --main-color: #ebc005;
  --main-accent: #000;
  --secondary-color: #f1f3f5;
  --text-color: #212529;
}

.form_container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.form_wrapper {
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-color);
  height: fit-content;
  border-radius: 12px;
  font-weight: 600;
  color: var(--text-color);
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

.form_wrapper h1 {
  text-transform: uppercase;
}

.form_wrapper h1,
.form_wrapper p {
  margin: 2rem 0;
  letter-spacing: 1.2px;
}

.form_wrapper p {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 5px;
}

.form {
  width: 90%;
  font-size: 80% !important;
}

@media screen and (max-width: 1000px) {
  .form_container {
    width: 80%;
  }
}

.required {
  color: #f03e3e;
}

.form_group {
  height: 65px;
  margin-bottom: 1.6rem;
  font-family: 'Poppins';
}

.form_group label {
  position: relative;
  bottom: 2px;
  letter-spacing: 1.2px;
  font-size: 18px;
}

.form_group input {
  width: 100%;
  height: 34px;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
  font-size: 20px;
}

.form_group input:valid {
  border: 1px solid #37b24d;
}

.form_group input:invalid {
  border: 1px solid #f03e3e;
}

.form_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.form_btn {
  cursor: pointer;
  color: #000;
  background-color: #ebc005;
  font-size: 1.2rem;
  font-family: inherit;
  letter-spacing: 1.1px;
  padding: 1em 1em;
  font-size: 16px;
  width: 13rem;
  margin: 0 1rem;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #ebc005;
  background: -webkit-linear-gradient(bottom, #ebc005, #fae99e);
  background: -moz-linear-gradient(bottom, #ebc005, #fae99e);
  background: linear-gradient(to top, #ebc005, #fae99e);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.form_btn:hover {
  background: #ffec99;
  transition: all 100ms;
  transform: scale(1.1, 1.1);
}

.message_container {
  margin: 1rem 0;
}
