/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
	--main-color: #ebc005;
	--main-accent: #000;
	--secondary-color: #f1f3f5;
	--text-color: #212529;
}

* {
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: var(--main-accent);
	padding: 0;
}

h1.company_name {
	background: var(--main-accent);
	font-family: inherit;
	font-weight: 500;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1.4px;
}

nav.heading_nav {
	background: #ebc005;
	color: var(--main-accent);
	font-weight: bold;
	font-family: inherit;
	text-transform: uppercase;
	padding: 10px 0;
}

nav .nav_links {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav .nav_links li {
	margin: 0 10px;
}

.nav_links li a:-webkit-any-link {
	text-decoration: none;
}

.nav_links li a:-webkit-any-link {
	text-decoration: none;
	color: var(--main-accent);
}
.nav_links li a:link {
	text-decoration: none;
	color: var(--main-accent);
}

.nav_links li a:visited {
	text-decoration: none;
}

.nav_links li:hover {
	cursor: pointer;
}

.nav_links li a:active {
	text-decoration: underline;
	color: #212529;
}

div.head_img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

img.head_img {
	display: block;
	margin: 0;
	padding: 0;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
	min-height: 100%;
	width: 100%;
}

section.Company_Info {
	gap: 15px;
	margin-top: 5px;
	font-weight: bold;
	background-color: white;
	color: var(--main-accent);
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 22rem;
}

div.Company_Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.Company_Info h2 {
	text-decoration: underline;
}

div.Company_Info p {
	text-align: center;
	font-family: inherit;
}

section.Shopper_DocumentCollection {
	background-color: white;
	color: var(--main-accent);
	font-family: inherit;
	padding: 20px;
	margin-bottom: 5px;
	text-align: center;
}

section.Shopper_DocumentCollection a:-webkit-any-link,
section.Shopper_DocumentationCollection a:link,
section.Shopper_DocumentationCollection a:visited,
section.Shopper_DocumentationCollection a:hover,
section.Shopper_DocumentationCollection a:active {
	color: var(--main-accent);
}

section.divide {
	background-color: #ebc005;
	padding: 10px;
}

.footer {
	background: var(--main-accent);
	color: white;
	font-weight: bold;
	font-family: inherit;
	text-transform: uppercase;
	padding: 20px;
	margin: 20px;
}

.footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer li {
	display: inline-block;
	margin-right: 20px;
}
