/* CSS Document */
@import 'shopper-form.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --main-color: #ebc005;
  --main-accent: #000;
  --secondary-color: #f1f3f5;
  --text-color: #212529;
  --scrollbar-color: #868e96;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 75%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

body {
  background: black;
  background-color: var(--main-accent) !important;
  color: white;
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
}

dl,
ol,
ul {
  margin-top: 14px !important;
}

ol,
ul {
  padding-left: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 0;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

i {
  font-style: normal;
}

header {
  background-color: var(--main-accent);
  padding: 0;
}

h1.company_name {
  background: var(--main-accent);
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: var(--secondary-color);
  margin: 2rem 0;
  line-height: 1.2;
}

nav.heading_nav {
  background: #ebc005;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-accent);
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  padding: 10px 0;
}

nav .nav_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.cart {
  padding-right: 5rem;
}

.cart svg {
  fill: var(--main-accent);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

nav .nav_links li {
  margin: 0 10px;
}

.nav_links li a:link {
  text-decoration: none;
  color: var(--main-accent);
}

.nav_links li a:visited {
  text-decoration: none;
  color: #000;
}

.nav_links li:hover {
  cursor: pointer;
}

.nav_links li a:active {
  text-decoration: underline;
  color: #212529;
}

div.head_img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

img.head_img {
  display: block;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  min-height: 100%;
  width: 100%;
}

.coffee_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  border: 2px solid var(--main-color);
}

section.Company_Info {
  gap: 15px;
  margin-top: 5px;
  font-weight: bold;
  background-color: white;
  color: var(--main-accent);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 22rem;
}

div.Company_Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Company_Info h2 {
  text-decoration: underline;
  margin-bottom: 1rem;
}

div.Company_Info p {
  text-align: center;
  font-family: inherit;
}

section.Shopper_DocumentCollection {
  background-color: white;
  color: var(--main-accent);
  font-family: inherit;
  padding: 30px;
  text-align: center;
}

.Shopper_DocumentCollection h2 {
  margin-bottom: 2rem;
}

section.Shopper_DocumentCollection a:-webkit-any-link,
section.Shopper_DocumentationCollection a:link,
section.Shopper_DocumentationCollection a:visited,
section.Shopper_DocumentationCollection a:hover,
section.Shopper_DocumentationCollection a:active {
  color: var(--main-accent);
}

section.coffeeProductsHead {
  margin-top: 5px;
  font-weight: bold;
  background-color: #ebc005;
  color: black;
  padding: 20px;
  text-align: center;
}

section.coffeeProduct {
  gap: 15px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.coffeeProduct_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 0;
}

div.coffeeProduct p {
  margin: 5px;
  padding: 10px;
}
div.explore h2 {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.coffeeProduct button {
  margin-top: 1rem;
}

section.divide {
  background-color: #ebc005;
  padding: 10px;
}

.show li a {
  cursor: pointer;
}

.footer {
  background: var(--main-accent);
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer li {
  display: inline-block;
  margin-right: 20px;
}

.modal-dialog {
  max-width: 70% !important;
}

@media screen and (max-width: 882px) {
  .modal-dialog {
    min-width: 100% !important;
  }
}

.modal-items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.modal-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.coffee_modal_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--main-color);
}

.bi-plus-circle,
.bi-dash-circle {
  color: #000;
  cursor: pointer;
}
